.mainBox{
    border: 2px solid;
    width: 250px;
    height: 500px;
    position:relative;
    left: 50%;
    margin: 70px 0 0 -125px;
    color: lightgreen;
}

table{
    width: 250px;
    height: 500px;
    border-collapse: collapse;
}

.topRow{
    height: 30px;
    border-bottom: 2px solid;
}

ul{
    padding: 0;
}

.mainUl{
    height: 400px;
    margin: 0;
}

li{
    list-style-type: none;
}

.underRow{
    height: 50px;
    border-top: 2px solid;
}

.underRowData{
    text-align: center;
}